<?xml version="1.0" encoding="UTF-8" ?>
<widget id="tw.edu.nfu.eZTravel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!-- versionCode is optional and Android only -->
  <!-- APP名子 -->
  <!-- 可以使用中文 -->
  <name>休閒資訊</name>
  <description>
      An 休閒資訊 build APP from 10863106@gm.nfu.edu.tw.
  </description>
  <author href="https://www.nfu.edu.tw/zh/" email="10863106@gm.nfu.edu.tw">
      CI-FONG LIN
  </author>
  <content src="index.html" />
  <platform name="android">
    <!-- APP的圖示 -->
    <icon src="res/map.png" />
    <icon src="res/android/map.png" density="ldpi" />
    <icon src="res/android/map.png" density="mdpi" />
    <icon src="res/android/map.png" density="hdpi" />
    <icon src="res/android/map.png" density="xhdpi" />
  </platform>
</widget>